spring:
  datasource:
    url: jdbc:postgresql://order-postgres:5434/ecommerce-micro-order
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  jpa:
    show-sql: true
  application:
    name: order-service