spring:
  security:
    oauth2:
      client:
        registration:
          gateway-service:
            provider: keycloak
            client-id: gateway-service
            client-secret: Ihgao1Uzk4k8cmTvsJqrVQQFFofCYThN
            authorization-grant-type: authorization_code
            scope: openid
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/products/**
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/api/inventories/**
      default-filters:
        - TokenRelay=
        - name: RateLimiter
          args:
            fallbackUri: /fallback/rateLimit
        - name: CircuitBreaker
          args:
            fallbackUri: forward:/fallback/circuitBreaker
resilience4j:
  circuitbreaker:
    instances:
      circuitBreaker:
        register-health-indicator: true
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 3
        minimum-number-of-calls: 5



