volumes:
  ecommerce-microservices:
networks:
  ecommerce-microservices-network:
    driver: bridge

services:
  postgres:
    image: postgres:17
    container_name: postgres
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ecommerce-microservices:/var/lib/postgresql/data
    networks:
      - ecommerce-microservices-network
  config-service:
    build:
      context: ../config-service
      dockerfile: ../config-service/Dockerfile
    container_name: config-service
    ports:
      - "8888:8888"
    volumes:
      - ecommerce-microservices:/var/lib/config-service/data
    networks:
      - ecommerce-microservices-network
  product-service:
    build:
      context: ../product-service
      dockerfile: ../product-service/Dockerfile
    depends_on:
      - postgres
      - config-service
    environment:
      - SPRING_APPLICATION_NAME=product-service
      - SPRING_CONFIG_IMPORT=configserver:http://config-service:8888
    container_name: product-service
    ports:
      - "8082:8080"
    volumes:
      - ecommerce-microservices:/var/lib/product-service/data
    networks:
      - ecommerce-microservices-network
