spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/ecommerce-micro-order
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  jpa:
    show-sql: true
  application:
    name: order-service

server:
  port: 9003

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

